@import url( 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i' );

nav {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background: #2e2e2e;
	z-index: 1300;
	min-height: 60px;
}

nav ul {
	padding: 0;
	margin: 0;
	text-align: center;
	list-style: none;
	font-size: 0;
	line-height: 0;
	letter-spacing: -5px;
}

nav ul li {
	display: inline-block;
	font-size: 12px;
	zoom: 1;
	letter-spacing: normal;
	text-transform: uppercase;
	min-width: 93px;
	line-height: 60px;
}

nav ul li a {
	display: block;
	color: #fff;
	font-weight: 600;
	opacity: 0.75;
	border-top: 2px solid;
	font-family: 'Source Sans Pro', sans-serif;
}

nav ul li a.works {
	border-color: #479edc;
}

nav ul li a.services {
	border-color: #9dc832;
}

nav ul li a.about {
	border-color: #ea5050;
}

nav ul li a.blog {
	border-color: #bd6bb6;
}

nav ul li a.contact {
	border-color: #eca826;
}

nav ul li a:hover,
nav ul li a:active,
nav ul li a:focus,
nav ul li a:active:focus {
	text-decoration: none;
	color: #fff;
	opacity: 1;
}

section {
	min-height: 688px;
}

section.introduction {
	background: #f8f8f8;
}

section.work {
	background: #48A1E7;
}

section div {
	max-width: 980px;
	margin: 0 auto;
	text-align: center;
	padding: 135px 0;
}

section div h3 {
	color: #4faeed;
	font-size: 35px;
	line-height: 39px;
	font-style: italic;
	font-weight: 300;
	margin-bottom: 55px;
	font-family: 'Source Sans Pro', sans-serif;
}

section div h2 {
	font-size: 63px;
	line-height: 65px;
	margin-bottom: 60px;
	font-weight: 300;
	letter-spacing: -2.5px;
	color: #333;
	margin-top: 15px;
	font-family: 'Source Sans Pro', sans-serif;
}

section div h4 {
	width: 560px;
	margin: 0 auto;
	font-size: 26px;
	line-height: 33px;
	font-weight: 300;
	font-family: 'Source Sans Pro', sans-serif;
}

.section-ico {
	width: 270px;
	height: 270px;
	padding: 15px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	/* -webkit-border-radius: 50%; */
	background: url(images/white-transparent.png);
	position: absolute;
	top: -135px;
	margin-left: -135px;
	left: 50%;
	z-index: 3;
	text-align: center;
}
